
@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<h4>Add a new Client for @ViewBag.Stylist.Name</h4></h4>

@using (Html.BeginForm())
{
<input data-val="true" data-val-required="StylistId field required." id="StylistId" name="StylistId" type="hidden" value="@ViewBag.Stylist.StylistId">

    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    @Html.LabelFor(model => model.Age)
    @Html.TextBoxFor(model => model.Age)

    @Html.LabelFor(model => model.Gender)
    @Html.TextBoxFor(model => model.Gender)

    @Html.LabelFor(model => model.LastVist)
    @Html.TextBoxFor(model => model.LastVist)

    <input type="submit" value="add a new Client" class ="btn btn-default" />
   
}


<p>@Html.ActionLink("Stylist Page", "Details", "Stylists", new { id = @ViewBag.Stylist.StylistId })</p>
